services:
  app:
    build:
      context: ./app
      dockerfile: ../docker/node/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/mydb
      - NODE_ENV=development
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/node/Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev -- --host

  db:
    build:
      context: ./
      dockerfile: ./docker/postgres/Dockerfile
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: